<h1>サイトへようこそ!</h1>
<p>メニューから注文をお選びください。<p>


<ul>
	<% 41.times do |n| %>
		<% if (n % 3 == 0 || n.to_s =~ /3/)%>
			<li><%= "aho" %></li>
		<% else%>	
			<li><%= n %></li>
		<%end%>
	<% end %>

</ul>
